html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  background-image: radial-gradient(
    circle,
    #733ea3,
    #6c32b2,
    #5f27c3,
    #481bd4,
    #000fe7
  );
}
.container {
  min-height: calc(100vh - 155px);
}
.icon {
  width: 30px !important;
  height: 30px !important;
  color: white !important;
  cursor: pointer;
}
