html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  background-image: radial-gradient(
    circle,
    #272381,
    #3f237d,
    #4f237a,
    #5c2476,
    #672672
  );
}
.container {
  min-height: calc(100vh - 155px);
}
.icon {
  width: 30px !important;
  height: 30px !important;
  color: white !important;
  cursor: pointer;
}
